body{
    font-family: 'Arial Rounded MT Bold' !important;
}

body::-webkit-scrollbar{
    width: 7px;
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: #5F9427;
    border-radius: 10px;
}

.bg-gray{
    background: #EFEFEF;
}

.bg-verdeoscuro{
    background: #5F9427;
}

.bg-frame4{
    background: #F4FFE8;
}

.bg-navbar{
    background: rgba(255, 255, 255, 0.20);
    font-weight: bold;
    backdrop-filter: blur(50px);
}
.card, .card-2{
    border: 1px solid #5F9427 !important;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
}

.card, .card-header, .card-2{
    border-radius: 1.50rem !important;
}

.card-header, .card-2{
    border-bottom: 0px !important;
    background-color: #fff;
}

.card-2:hover{
    background: #5F9427;
    color: white;
}

.card:hover{
    background: #d3f084;
}

.card-columns{
    column-gap: 2rem !important;
}

.card-columns .card-2 {
    margin-bottom: 2rem !important;
}

.img-radius{
    border-radius: 1.50rem !important;
}

.img-size1{
    width: auto;
    height: 60vh;
    margin: auto;
}

.tarjeta{
    height: 304px;
    /*width: 566px;*/
    border-radius: 35px;
    background: #C4E69F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
}

.text-negrita{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #5F9427;
}

.text-negrita-2{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #5F9427;
}

.text-negrita-3{
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
}

.inavbar{
    width: 100% !important;
    height: auto !important;
}

.ifooter{
    width: 100% !important;
    height: auto !important;
}

.fullscreen{
    height: 100vh;
    width: 100%;
}

.btn-float{
    width:55px;
      height:55px;
      border-radius:100%;
      /*background:#e74c3c;*/
      z-index: 10;
      right:0;
      bottom:0;
      position: fixed;
     margin-right:16px;
      margin-bottom:16px;
      border:none;
      outline:none;
      font-size:20px;
      /*box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(255,255,255,0.23);*/
      transition:.3s;
}
.btn-float>i{
    transform: rotate(-10deg);
    margin-top: 25%;
    margin-left: 25%;
    color: #fff;
}
/*.btn-float:hover{
    background-color: rgba(231, 101, 89, 1);
}*/

.nav-link{
  color: black;
}

.nav-link:hover{
  color: #5F9427;
}

.nav-pills .nav-link.active{
  background-color: #5F9427 !important;
}

.list-group-item{
    background-color: rgba(255, 255, 255, 0) !important;
}

.mapa{
    width: 400px;
    height: 300px;
}

.imgSensible section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);  
    z-index: 10;
    border-radius: 1.50rem;
}

.imgSensible img{
    position: relative;
    top: 0;
    filter: blur(1.5rem);
}
.ParallaxVideo{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -999;
}

.ParallaxVideo video{ 
    position: fixed;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
}

.carousel-control-next, .carousel-control-prev{
    z-index: 20 !important;
}
@media only screen and (max-width: 414px){
	/*movil*/
	.tarjeta{
        font-size: 25px;
    }
    .text-negrita{
        font-size: 25px;
    }
    .mapa{
       width: 350px;
    }
    
}

@media only screen and (max-width: 1024px) {
	/*Para movil y tablet*/
	.img-size1{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 768px){
	/*Para PC y tablets*/
	.col-md-6{
        max-width: none !important;
    }
}

@media only screen and (min-width: 1200px){
	
}

@media (min-width: 576px){
.modal-dialog{
    max-width: 100vw !important;
    margin: 0 !important;
}
.modal{top: 80.7px !important;}
}

